    <!--Slide Menu -->
<div class="fluid topmenu">
    <div ng-click="onRegister()" class="topmenuItem topIcon1">רישום</div>
    <div class="topmenuItem topIcon2red active">חלוקה</div>
</div>

<!--Main Content  -->
<div class="mainContent">

    <div class="BarcodeFields">
        <a><div class="BarcodeArea" ng-click="onScan()" id="deliver_startScan"></div></a>
        <form id="deliver">
            <div class="greyText2">* במידה והברקוד אינו קריא ניתן להקליד מספר פריט</div>
            <input style="text-transform:uppercase" type="text" class="packageinput2" maxlength="13" name="packageNum" placeholder="הקלד מספר פריט">
            <a ng-click="onAddBarCode()"><img class="cameraBtn" src="images/AddBtn.jpg" alt="" /></a>
        </form>
        <div class="totalScanItems">
            <div class="totalScanItemsText">פריטים שנסרקו עד כה</div>
            <div class="totalScanItemsIcon"><span id="barcodeCount">0</span></div>
            <div class="totalScanItemsedit" ng-click="open()"><a>הצג</a></div>
        </div>
    </div>
    <div ng-click="onOkPressed()" class="loginBtn"><a>סיום</a></div>
</div>

<!--Popup Menu  -->
<div id="warpPopup">
    <div class="miyunPopup">
        <div class="shiyuchPopupInner">
            <div ng-click="onXClick()" class="closePop"><img src="images/closePopup.png" alt="" /></div>
            <br>
            <strong>פריטים שנסרקו עד כה</strong>
            <div id="warpList">
                <ul style="overflow: auto" id="deleteList" class="deleteList"></ul>
            </div>
            <div id="warpBtn">
                <div ng-click="onXClick()" class="loginBtn"><a>סיום</a></div>
            </div>
        </div>
    </div>
</div>
