
<div class="fluid topmenu">
    <div ng-click="onMesiraClick()" class="topmenuItem3 topIcon5ared ">מסירה</div>
    <div ng-click="onIsufClick()" class="topmenuItem3 topIcon3a active">איסוף</div>
    <div ng-click="onMesiraSapakClick()" class="topmenuItem3 topIcon7a" style="line-height: 24px;">מסירה<br>לספק</div>
</div>

<div class="mainContent">
    <div class="BarcodeFields">
        <form id="collect_joined">
            <select class="area" name="area">
                <option value="-1" class="areainput" disabled>בחר חנות</option>
            </select>
            <a ng-click="scan()"><div class="BarcodeArea"></div></a>
            <div class="greyText2">* במידה והברקוד אינו קריא ניתן להקליד מספר פריט</div>
            <input style="text-transform:uppercase" type="text" ng-model="inputVal" maxlength="13" class="packageinput2" name="packageNum" placeholder="הקלד מספר פריט">
            <a ng-click="onAddBarcode()"><img class="cameraBtn" src="images/AddBtn.jpg" alt="" /></a><br>
        </form>



        <div class="totalScanItems">
            <div class="totalScanItemsText">פריטים שנסרקו עד כה</div>
            <div class="totalScanItemsIcon"><span id="barcodeCount">0</span></div>
            <div class="totalScanItemsedit" ng-click="open()"><a>הצג</a></div>
        </div>
    </div>
    <div ng-click="onEnd()" class="loginBtn"><a>סיום</a></div>
</div>
<!--Popup Menu  -->
<div id="warpPopup">
    <div class="miyunPopup">
        <div class="shiyuchPopupInner">
            <div ng-click="onXClick()" class="closePop"><img src="images/closePopup.png" alt="" /></div>
            <br>
            <strong>פריטים שנסרקו עד כה</strong>
            <div id="warpList">
                <ul style="overflow: auto;height: 150px;" id="deleteList" class="deleteList"></ul>
            </div>
            <div id="warpBtn">
                <div ng-click="onXClick()" class="loginBtn"><a>סיום</a></div>
            </div>
        </div>
    </div>
</div>

