
<style>
    .hidden {
        display: none;
    }
</style>

<style>
    .topmenuItem3 topIcon7a {
        line-height: 24px;
    }

    .pad {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    .sigPad {
        width: 100%;
    }

    .sigWrapper {
        width: 100%;
        height: 200px;
    }

    .signatureBox {
        width: 100%;
        height: 50%;
    }

    .BarcodeArea {
        display: initial;
    }

    .imgLoading {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    .loading2 {
        background: #e9e9e9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        width: 100%;
        height: 100%;
    }
</style>

<div class="fluid topmenu">
    <div ng-click="onMesiraClick()" class="topmenuItem3 topIcon5ared active">מסירה</div>
    <div ng-click="onIsufClick()" class="topmenuItem3 topIcon3a">איסוף</div>
    <div ng-click="onMesiraSapakClick()" class="topmenuItem3 topIcon7a" style="line-height: 24px;">מסירה<br>לספק</div>
</div>


<div class="mainContent">

    <div class="BarcodeFields">
        <select class="area" name="area">
            <option value="-1" class="areainput" disabled>בחר חנות</option>
        </select>

        <a ng-click="onScan()"><div class="BarcodeArea"></div></a>
        <form id="deliver">
            <div class="greyText2">* במידה והברקוד אינו קריא ניתן להקליד מספר פריט</div>
            <input style="text-transform:uppercase" type="text" maxlength="13" class="packageinput2" name="packageNum" placeholder="הקלד מספר פריט">
            <a ng-click="onOkPressed()"><img class="cameraBtn" src="images/AddBtn.jpg" alt="" /></a><a ng-click="onCheckBarCode()"><img class="cameraBtn2" src="images/refreshIcon.jpg" alt="" /></a><br>
            <div class="ItemOK"> פריט <strong>AV34556</strong> תקין  <a ng-click="onTakePicture()"><img class="cameraBtn3" src="images/cameraSmall.jpg" alt="" /></a></div>
            <div mass-autocomplete>
                <input ng-model="dirty.value" mass-autocomplete-item="autocomplete_options" type="text" class="packageinput4" name="packageNum" placeholder="מספר מנוי"><br>
            </div>
        </form>
        <div class="totalScanItems">
            <div class="totalScanItemsText">נסרקו עד כה</div>
            <div class="totalScanItemsIcon2">0</div>
            <div class="signature" ng-click="onOpenSig()"><a>חתימה</a></div>
            <div class="totalScanItemsedit" ng-click="open()"><a>הצג</a></div>
        </div>

    </div>
    <div class="loginBtn" id="loginBtn" ng-click="onEnd()"><a>סיום</a></div>
</div>


<!--Popup Menu  -->
<div id="warpPopup">
    <div class="miyunPopup">
        <div class="shiyuchPopupInner">
            <div ng-click="onXClick()" class="closePop"><img src="images/closePopup.png" alt="" /></div>
            <br>
            <strong>פריטים שנסרקו עד כה</strong>
            <div id="warpList">
                <ul style="overflow: auto" id="deleteList" class="deleteList"></ul>
            </div>
            <div id="warpBtn">
                <div ng-click="onXClick()" class="loginBtn"><a>אישור</a></div>
            </div>
        </div>
    </div>
</div>


<!--Signature Dialog-->
<div id="sigDialog" style="display:none">
    <div class="miyunPopup">
        <div class="shiyuchPopupInner2">

            <div ng-click="onCloseSigDialog()" class="closePop"><img src="images/closePopup.png" alt=""></div>
            <br>
            <strong>חתימה</strong>
            <br>
            <input id="firstName" type="text" class="packageinput3" name="fname" placeholder="*שם פרטי">
            <input id="lastName" type="text" class="packageinput3" name="lname" placeholder="*שם משפחה">
            <div class="sigPad" id="sigPad">
                <div class="signatureBox">
                    <div class="sig sigWrapper current" style="display: block;">
                        <button class="signatureButton">נקה</button>
                        <div class="typed" style="display: none;"></div>
                        <canvas class="pad" id="pad"></canvas>
                        <input type="hidden" placeholder="יש להחתים את הלקוח כאן" name="output" id="sigOutput" class="output" value="">
                    </div>
                </div>
            </div>
            <div class="loginBtn" ng-click="onSaveSignarture()"><a>אישור</a></div>

        </div>
    </div>
</div>

